img{
    width: 20vw;
}

.infoKey{
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
    margin: 2px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

div#bookDetailsDisplay {
    background-color: #fff;
    min-width: 300px;
    width: 40vw;
    justify-content: space-between;
    border: 1px solid;
    padding: 1em;
    border-radius: 8px;
    max-height: 550px;
    animation: fadeIn 3s;
}

.bookDetailsInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 370px;
}

dialog{
    position: absolute;
    top: 30vh;
    border-radius: 5px;
    font-weight: bold;
}

#confirmBtn{
    background-color: rgb(0, 189, 0);
    font-weight: bolder;
}

#cancelBtn{
    background-color: #f00;
    font-weight: bolder;
}

#popUpBtns{
width: 100%;
display: flex;
justify-content: center;
gap: 1em;
}

button#goBackBtn {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    height: 2em;
    font-size: xx-large;
    width: 5em;
}
span#description {
    display: flex;
    max-height: 4.7em;
    overflow-y: auto;
}