body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.page {
  /* background: linear-gradient(146deg, rgba(0,0,0,1) 0%, rgba(110,86,29,1) 100%); */
  background-color: #c59f24;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 5em;
  align-items: center;
  padding: 2em;
}
nav {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  /* background-color: #000; */
  background-color: #cc7421;
  height: 3em;
  align-items: center;
  justify-content: space-around;
  gap: 29em;
}
nav a {
  font-weight: 900;
  font-size: large;
  text-decoration: none;
  color: #000000;
  padding: 0.5em;
}
.navLinkContainer {
  display: flex;
  align-items: baseline;
}
.currentPageLink> * {
  color: aliceblue;
}
h1 {
  color: #fff;
  text-align: center;
}

table {
    border-collapse: collapse;
    width: 70vw;
    text-align: center;
    min-height: 33em;
    color: #fff;
}

td, tr, th {
    border: 1px solid #000;
}
thead {
    background: #000;
}

tbody {
    background: #fff;
    color: #000;
}

section.booksDisplayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  min-height: 602px;
}

div#pagination {
  display: none;
  gap: 1em;
}

section.createBookContainer {
  width: 50%;
  align-self: center;
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 5px 5px #000;
}

form#createBookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  gap: 0.5em;
}

tr:hover {
  cursor: pointer;
}

.loader {
  --s: 20px;

  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: none;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at calc(100% - var(--_d)) var(--_d),
    #fff 135deg,
    #666 0 270deg,
    #aaa 0
  );
  animation: l6 2s infinite;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l6 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}

div#booksSection {
  display: flex;
  width: 80vw;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
}

.bookContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 22em;
  border-radius: 8px;
  /* background: radial-gradient(circle, rgba(228,206,32,1) 0%, rgb(29, 110, 72) 100%); */
}
.bookContainer:hover{
  cursor: pointer;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

h3 {
  height: 1.2em;
  overflow-y: hidden;
  text-align: center;
}
div#navBarLinks {
  display: flex;
  gap: 1em;
}
footer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;
    background-color: #cc7421;
    color: #fff;
}

.footerContacts {
    display: flex;
    justify-content: space-evenly;
}

div#footerProjectSummary {
    width: 40%;
}

.footerContactInfoContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
}

h2 {
    align-self: center;
}
.footerContactInfo > div {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}
.gmail p {
    margin: 0;
}
.footerContactInfo h3 {
    margin: 0;
}

.footerContactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.footerContactInfo a {
    color: #fff;
    text-decoration: none;
}

#searchBar{
  font-size: 1em;
  display: flex;
    width: 100%;
    gap: 8em;
    justify-content: space-around;
    align-items: center;
}


button{
  background-color: #cc7421;
  font-family:"Poetsen One", sans-serif; 
  border: none;
  border-radius: 10%;
}



.navLinkContainer:hover,button:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

